html {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #ffffff !important;
    border: none !important;
    border-style: none !important;
}
h1 {
    font-size: 6.5vw;
}
h5 {
    line-height: 2em;
}
button.knap {
    background-color: #E4C8C5 !important;
    border-color: #BBC2BD !important;
}
.forside {
    margin-left: 0.1vw !important;
    border-left-style: solid;
    border-top-style: solid;
}
.forside img {
    width: 100%;
    margin-top: 13.5vw;
}
.omos {
    border-style: double;
    margin-left: 0.1vw;
    margin-top: 4vw;
}
.omos img {
    width: 95%;
}
.menukort {
    margin-top: 1.5vw;
    background-color: #DDDAD5;
    text-align: center;
}
.menukort img {
    width: 100%;
}
.menukort h3 {
    text-align: center;
    font-size: 1.7vw;
}
.menukort h5 {
    font-size: 1.2vw !important;
}
.billeder {
    margin-top: 2vw;
    border-bottom-style: solid;
}
.billeder h4 {
    text-align: center;
    font-size: 4.8vw;
}
.produktliste .pris {
    color: indianred;
}
.produktliste .rabatpris {
    color: forestgreen;
}
.rabat {
    text-decoration: line-through;
}
ul.img-list {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 1vw !important;
    margin-top: 2vw !important;
}
ul.img-list li {
    display: flex;
    margin: 0 1em 1em 0;
    position: relative;
}
span.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 100px;
    left: 0;
    position: relative;
    top: 0;
    width: 260px;
    margin-left: 1.15vw !important;
}
span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
ul.img-list li:hover span.text-content {
    opacity: 1;
}
span.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 226px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
footer h5 {
    font-size: 0.87vw !important;
    text-align: right;
}
